@tailwind base;
@tailwind components;
@tailwind utilities;


#app {
  @apply bg-gray-200 text-center;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* custom utility classes */

.w-section {
  width: min(100%, 60rem);
}

.transition-400 {
  transition: .4s ease-in-out;
}

.bg-custom-banner {
  @apply bg-cover bg-right bg-no-repeat;
}

.home-card {
  @apply absolute inset-x-0 rounded-lg border-2 shadow-md hover:shadow-xl transition duration-200 sm:top-12 sm:w-96 bg-primary-bg
}

/* custom nav classes */

.nav-bg-gradient {
  background: rgb(251,126,156);
  background: -moz-linear-gradient(27deg, rgba(251,126,156,1) 50%, rgba(126,251,221,1) 50%);
  background: -webkit-linear-gradient(27deg, rgba(251,126,156,1) 50%, rgba(126,251,221,1) 50%);
  background: linear-gradient(27deg, rgba(251,126,156,1) 50%, rgba(126,251,221,1) 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fb7e9c",endColorstr="#7efbdd",GradientType=1);
}

.nav-section {
  @apply absolute h-16 transition duration-300 ease-in-out;
  width: 58%;
}

.nav-router-link {
  @apply hover:bg-primary-bg font-bold p-2 rounded hover:shadow-md;
}

.drop-down-link {
  @apply hover:bg-white transition duration-200 block py-1;
}
